 body{
        background-color: #CCCCCC;
        font-family: 'PT Sans Caption', sans-serif;
    }
    
    header#main_header{                        
        
    }
    
    #steadyflowlogo {
        width: 100%;
        height: 9.375em;
    }
    
    #steadyflowlogo img {
        width: 100%;
        height: 100%;
    }
    
    h1#oakritchie {
        padding-left: 2%;
    }
    
    
    nav#main_nav {        
    }
    
    nav#main_nav ul {
        list-style: none;
        padding: 2%;
    }
    
    nav#main_nav ul li {
        width: 19%;
        float: left;
        text-align: center;
    }
    
    nav#main_nav ul li a {
        
    }
    
    .outer_row { 
    	width: 100%;
    } 
    
    .inner_column { 
    	width: 50%; 
    }
    
    section#main_section {        
        padding: 2%;
        font-size: 0.875em;
    }
    
    article#main_article {
        padding: 2%;
    }
    
    aside#responsive_table_container {        
        width: 100%;
    }
    
    .col-group > div {
  		padding: 1em;
  		margin-bottom: 1em;  
}

@media screen and (min-width: 44em) {
  	.col-group {
    	overflow: hidden;
  }
  	.col-group > div {
    	float: left;
    	width: 50%;
  }
}
    
    footer {        
        width: 100%; 
        position: fixed;
        bottom: 0em;
        width: 100%;
        text-align: center;
        background-color: #dddddd;        
    }

@media (min-width: 300px) {

@media (min-width: 920px) {
    
    #steadyflowlogo {
        width: 100%;
        height: 12.500em;
        text-align: center;
    }
    
    #steadyflowlogo img {
        width: 100%;
        max-width: 50.000em;
        height: 100%;
    }
}
}   


